@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}


nav {
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

nav .logo{
  font-size: 24px;
  color: #3A3A3A;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

nav .menu a {
  font-size: 16px;
  text-decoration: none;
  color: #3A3A3A
}

nav .menu img {
  width: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 80px 0;
}


.hero-content h1 {
  font-size: 50px;
  color: #3A3A3A;
}

.hero-content p {
  margin: 20px 0;
  color: #3A3A3A;
}
.hero-image img {
  width: 350px;
}

.btn-primary{
  background: #e02c6d;
  border: none;
  font-size: 20px;
  padding: 10px 24px 10px 24px;
  border-radius: 20px;
  weight: 190px;
  color: white;
  align-items: center;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.btn-primary img {
  width: 20px;
  display: flex;
  align-items: center;
}
.btn-primary:hover {
    background-color: #4ec09a;
    color: #100f0f;
    transition: 0.3s;
}
.sponsors{
  margin: 80px 0;
  padding: 30px 0;
  border-width: 100%;
  border: 1px solid #eee;
  margin-bottom: 1px solid #3a3a3a00;
}

.sponsor-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.sponsor-logos img {
  width: 100px;
  height: 25px;
}

.collection {
  margin: 100px 0;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
}
.card:hover {
    background-color: rgb(216, 216, 159);
    color: #100f0f;
    transition: 0.3s;
}
.card img {
  width: 100%;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.rating {
  background: none;
}

.desc {
  font-size: 14px;
  color: #787885;
}

.featured {
  margin: 120px 0;
}

.featured-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.featured-img img {
  width: 100%;
}

.featured-content h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.featured-content p {
  font-size: 500;
  color: #6C6C6C;
  line-height: 26px;
  margin-bottom: 20px;
}

.btn-primary {
  background: #E02C6D;
  color: white;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary1{
  background: #e02c6d;
  border: none;
  font-size: 20px;
  padding: 10px 24px 10px 24px;
  weight: 190px;
  color: white;
  align-items: center;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.btn-primary1:hover {
    background-color: #4ec09a;
    color: #100f0f;
    transition: 0.3s;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar, .menu, .hero {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 32px;
  }
  .sponsor-logos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sponsor-logos img {
    width: 80px;
  }
  .card-container, .sponsor-logos img {
    grid-template-columns: 1fr;
  }

  .featured-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .card-container, .sponsor-logos img {
    grid-template-columns: repeat(2, 1fr);
  }
}



